@import "tailwindcss/base";
@import "./base";

@import "tailwindcss/components";
@import "./components";

@import "tailwindcss/utilities";

h1, h2, h3, h4, h5 {
    @apply font-headings;
}

#pixi-app {
    margin: 0;
    padding: 0;
    position: fixed;
    touch-action: none;
    width: calc(100% - 2px); /* for borders */
    height: calc(100% - 2px); /* for borders */
    border: 1px dashed;
    top:0;
    left:0;
    z-index: -1;
}
